{
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },

  "ecmaFeatures": {
    "modules": true
  },

  "globals"   : {
    "Intercom": false,
    "intercom": false,
    "before_promise": false,
    "promise": true,
    "subject": true,
    "chai": false,
    "sinon": false,
    "Replay": false
  },

  "rules": {
    "quotes": [2, "single", "avoid-escape"],
    "no-multi-spaces": [1, { exceptions: {
      "AssignmentExpression": true,
      "VariableDeclarator": true
    }}],
    "curly": [2, "multi"],
    "camelcase": 0,
    "no-use-before-define": [2, "nofunc"]
  }
}